<nav class="navbar__container">
  <div class="navbar__content">

    <a href="#/events" class="navbar__logo-section">
      <div class="navbar__logo">
        <img alt="同趣网" src="<%= image_url("tqlogo.png")%>">
      </div>
    </a>

    <a href="#/groups" class="navbar__search-group-section">
      <div class="navbar__action-btn">
        <p class="large-text">
          探索
        </p>
        <p class="small-text">
          您感兴趣的群
        </p>
      </div>
    </a>

    <a class="navbar__create-group-section">
      <div class="navbar__action-btn start-a-group">
        <p class="large-text">
          创建
        </p>
        <p class="small-text">
          一个属于您的群
        </p>
      </div>
    </a>

    <a href="#/profile" class="navbar__user-section">
      <div class="navbar__user-container">
        <div class="user-avatar">
          <img src=<%= current_user.avatar %> alt="" />
        </div>
      </div>
    </a>

    <div class="user-status">
      <% if user_signed_in? %>
        <!-- <%= link_to "资料", "/profile" %>
        <%= link_to '退出', destroy_user_session_path, method: 'DELETE' %> -->
      <% else %>
        <%= link_to '登录', new_user_session_path %>
        <%= link_to '注册', new_user_registration_path %>
      <% end %>
    </div>

  </div>
</nav>
