<nav class="navbar__container">
  <div class="navbar__content">
    <a href="#/groups">
      <div class="navbar__logo">
        <img alt="同趣网" src="<%= image_url("tqlogo.png")%>">
      </div>
      <div class="navbar__action-btn">
        寻找群
      </div>
    </a>
    <% if user_signed_in? %>
    Welcome
    <%= link_to current_user.display_name, "/profile" %><br>
    <%= link_to 'log out', destroy_user_session_path, method: 'DELETE' %>
    <% else %>
    Please
    <%= link_to 'login', new_user_session_path %>
    or
    <%= link_to 'signup', new_user_registration_path %>
    <% end %>
  </div>
</nav>
