<nav class="navbar__container">
  <div class="navbar__content">

    <a href="#/events">
      <div class="navbar__logo">
        <img alt="同趣网" src="<%= image_url("tqlogo.png")%>">
      </div>
    </a>

    <a href="#/groups">
      <div class="navbar__action-btn">
        <p class="large-text">
          探索
        </p>
        <p class="small-text">
          您感兴趣的群
        </p>
      </div>
    </a>

    <a href="#/groups">
      <div class="navbar__action-btn start-a-group">
        <p class="large-text">
          创建
        </p>
        <p class="small-text">
          一个属于您的群
        </p>
      </div>
    </a>

    <a href="#/profile">
      <div class="navbar__user-container">
        <% if user_signed_in? %>

          <% if current_user %>
            <div><%= current_user.display_name %></div>
          <% else %>
            新朋友，欢迎浏览同趣网
          <% end %>

          <%= link_to "profile", "/profile" %>&nbsp;
          <%= link_to '退出', destroy_user_session_path, method: 'DELETE' %>
        <% else %>
          请 &nbsp;
          <%= link_to '登录', new_user_session_path %>
          &nbsp; 或 &nbsp;
          <%= link_to '注册', new_user_registration_path %>
        <% end %>
      </div>
    </a>

  </div>
</nav>
