<!DOCTYPE html>
<html>
<head>
  <title>TqApp</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= ENV['CLOUD_NAME'] %>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      cropping: 'server',
      cropping_aspect_ratio: 1,
      gravity: 'custom',
      theme: 'white',
      // multiple: false,
      cropping_show_dimensions: true,
      max_file_size: 6000000,
      button_caption: "上传图片"
    };
  </script>


</head>
<body>
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

  <!-- <img src="data:image/png;base64, <%= Image.generate_identicon %>" alt="" /> -->
  <%= yield %>

</body>
</html>
